body {
  width: 800px;
  height: 600px;
  padding: 0px;
  margin: 0px;
  background-color: #f6f6f6;
  font-synthesis: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  width: 100%;
  height: 100%;
}