* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: #1d1d1d;
  color: #fff;
  font-synthesis: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  width: 100%;
  height: 100%;
}